.bg {
  position: absolute;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  transition: opacity 1s ease;
}

.coverBg {
  opacity: 1;
  z-index: 1;
}

.coverBg.inactive {
  opacity: 0;
}

.contentBg {
  opacity: 0;
  z-index: 0;
}

.contentBg.active {
  opacity: 0.5;
}

.content {
  position: absolute;
  padding: 20px;
  font: 18px Georgia, serif;
  margin-top: 20px;
  line-height: 1.6;
}

#pris {
  width: 50px;
  right: 50px;
  position: absolute;
}

#me {
  right: 10vw;
  position: absolute;
}
